target/
.idea/
foundation-aop/foundation-aop.iml
foundation-commons/foundation-commons.iml
foundation-gwt/foundation-gwt.iml
foundation-io/foundation-io.iml
foundation-jdbc/foundation-jdbc.iml
foundation-job/foundation-job.iml
foundation-jpa/foundation-jpa.iml
foundation-security/foundation-security.iml
foundation-skin/foundation-skin.iml
foundation-soa/foundation-soa.iml
foundation-transaction/foundation-transaction.iml
foundation-ui/foundation-ui.iml
foundation-util/foundation-util.iml
foundation-web/foundation-web.iml
foundation.iml

